<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe</title>
    <style>
    #foodName{
        width: 400px;
        height: 35px;
        border-radius: 25px;
}
#procedure{
        width: 400px;
        height: 100px;
}
#ingredient{
        width: 400px;
        height: 100px;
        
}
#btn{
        width: 200px;
        height: 35px;
        border-radius: 40px;
}
body{
    background-color: rgb(102, 95, 95);
}
#recipe{
    margin: 20px auto;
    position: absolute;
    padding: 20px;
}
    </style>
</head>
<body>
      <center><h1>Online food recipes</h1></center>
    <form method="POST" action=" " id="recipe">
            <h2>Fill in the following</h2>
      <p><input type="textbox" name="foodName" id="foodName" placeholder="Enter the food name" width='30'/></p>
       <p><input type="textarea" name="procedure" id="procedure" placeholder="Enter the procedures"/></p>
       <p><input type="textarea" name="ingredient" id="ingredient" placeholder="Enter the ingredients"/></p>
       <input type="submit" id="btn">
    </form>
</body>
</html>