<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <title></title>
  </head>
  <body>
    <div class="navbar">
  <a href="#home">Signin</a>
  <a href="#news">Signup</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">About Us</a>
      <a href="#">Email Us</a>
      <a href="#">Help</a>
    </div>
  </div>
            <h1 id="logo">Online food recipes</h1>
</div>
   
    <div class="container">
      <h2 id="inside">Find And Share Best Exciting Recipes</h2>
    </div>
    <div id="wrapper">
    <h2>Start Your Cooking Journey</h2>
    <div id="main">
    <a href="registration.html"><button id="register">Register now</button></a>
    <h4>OR</h4>
    <a href="login.html"><button id="signin">signIn</button></a>
    </div>
    </div>
    <footer>
      <p>Designed by john</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>