.container{
		border: 1px solid;
    	padding: 50px;
		box-shadow: 5px 10px #888888;
		width: 450px;
	}
	h2{
		background: red;
		text-align: center;
		font-family: serif;
	}
	h1{
        text-align: center;
    }
     ul li{
        list-style: none;
        display:  inline;
        padding: 20px;
        font-family: sans-serif;

      }
      header{
      	background: black;
      }
      